html {
  font-family: $secondFont, sans-serif;
  background-color: $backgroudColor;
  color: $textColor;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

::selection {
  color: white;
  background: #4caf50;
}

::-moz-selection {
  color: white;
  background: #4caf50;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $firstFont;
  color: $titleColor;
  letter-spacing: 3px;
  text-transform: uppercase;
}

a {
  color: $linkColor;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

// <a> elements that are folders or lists
.entry-anchor {
  color: $textColor;
  text-decoration: none;
}

.entry-anchor:hover {
  text-decoration: underline;
}

input {
  display: block;
  height: 40px;
  width: 180px;
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 16px;
  outline: none;
  color: $textColor;
  padding-bottom: 3px;
}
