<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flashcardz</title>
  {{ css('app') }}

  <!-- <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"> -->

  <!-- IE -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" sizes="16x16" />
  <!-- other browsers -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="16x16" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id="root"></div>
  {{ script('app') }}
</body>
</html>
