.LearningModePage {
  @include flex-column-center;
  justify-content: space-between;
  height: 70vh;
}

.Learn-Form, .Learn-Solution {
  @include flex-column-center;
  justify-content: center;
}

.Learn-Form {
  height: 50%;
}

.Learn-Solution {
  height: 40%;
}

.Learn-Solution-Word {
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
}

.Learn-Solution-Word_show {
  opacity: 1;
  visibility: visible;
}

.Learn-Quit {
  height: 10%;
}

.ResultIcon {
  margin-top: 10px;
}

.fa-check {
  color: $green;
}
