.Menu {
  position: fixed;
  top: 20px;
  right: 20px;
  color: $titleColor;
  font-family: $secondFont;
}

.Menu-icon {
  width: 30px;
  height: 26px;
}

.Menu:hover {
  cursor: pointer;
}

.Menu-dropdown {
  position: fixed;
  top: 53px;
  right: 15px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.Menu-dropdown_show {
  opacity: 1;
  visibility: visible;
}
