.Menu {
  position: fixed;
  top: 20px;
  right: 20px;
  color: $titleColor;
  font-family: $secondFont;
}

.Menu-icon {
  border-radius: 50%;
  border: 2px solid $titleColor;
  width: 35px;
  height: 35px;
  padding-left: 10px;
  padding-top: 4px;
  font-size: 20px;
  font-weight: bold;
}

.Menu:hover {
  cursor: pointer;
}

.Menu-dropdown {
  position: fixed;
  top: 60px;
  right: 15px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.Menu-dropdown_show {
  opacity: 1;
  visibility: visible;
}
